@using Microsoft.AspNetCore.Authorization
@using Client.Pages.OtherPage
@inherits LayoutComponentBase
@attribute [Authorize]

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>
        <div class="top-row px-4">
            <ProfileDropDown></ProfileDropDown>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
<Syncfusion.Blazor.Popups.SfDialogProvider/>

@code{
    async Task LogoutClicked()
    {
        var loginModel = new UserSession();
        var customAuthStateProvider = (CustomAuthenticationStateProvider)AuthStateProvider;
        await customAuthStateProvider.UpdateAuthneticationState(loginModel);
        NavManager.NavigateTo("/", forceLoad: true);
    }
}